<h1>New Post</h1>
<%= form_with model: @post do |f| %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, autofocus: true, autocomplete: "今日は楽しかったね" %>
  </div>
  <%= alert %>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
