<h1>Post Detail</h1>
<div>
  <%= link_to('back', posts_path) %>
  <%= notice %>
  <%= alert %>
  <div class="post">
    <div class="post-header">
      <div class="nickname">
        <%= @post.user.nick_name %>
      </div>
      <div class="buttons">
        <% if @is_buttons_enabled %>
          <%= link_to("edit", edit_post_path) %>
          <%= link_to("delete", post_path(@post), method: :delete) %>
        <% end %>
      </div>
    </div>
    <div class="content">
      <%= @post.content %>
    </div>
  </div>
</div>
